# Assignment

### Ans1)

In [48]:
import seaborn as sns
import pandas as pd
import numpy as np
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

import warnings
warnings.filterwarnings('ignore')

In [49]:
df = sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [50]:

encoder=LabelEncoder()
df['time']=encoder.fit_transform(df['time'])

In [51]:
y = df.pop('time')
X = df

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=52)

In [52]:
categorical = ['sex','smoker','day']
numerical = ['total_bill','tip','size']

## Pipeline

In [53]:
num_pipeline=Pipeline(
    steps=[
        ('imputer',SimpleImputer(strategy='mean')),
        ('scaler',StandardScaler())
    ]
)

cat_pipeline=Pipeline(
    steps=[
        ('imputer',SimpleImputer(strategy='most_frequent')),
        ('onehotencoder',OneHotEncoder())
    ]
)

In [54]:
preprocessor=ColumnTransformer([
    ('num_pipeline',num_pipeline,numerical),
    ('cat_pipeline',cat_pipeline,categorical)
])

In [55]:
X_train=preprocessor.fit_transform(X_train)
X_test=preprocessor.transform(X_test)

In [56]:
model= RandomForestClassifier()
model.fit(X_train,y_train)
y_test_pred = model.predict(X_test)

In [57]:
test_model_score = accuracy_score(y_test,y_test_pred)
print(test_model_score)

0.9591836734693877

### Ans2)

In [58]:
df = sns.load_dataset('iris')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [59]:
encoder = LabelEncoder()
df['species'] = encoder.fit_transform(df['species'])

In [60]:
y = df.pop('species')
X = df

In [62]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=52)

In [65]:
from sklearn.ensemble import RandomForestClassifier, VotingClassifier
from sklearn.linear_model import LogisticRegression

clf1 = LogisticRegression()
clf2 = RandomForestClassifier()

voting_clf = VotingClassifier(estimators=[
        ('lr', clf1), ('rf', clf2)], voting='hard')
voting_clf = voting_clf.fit(X_train, y_train)
y_preds = voting_clf.predict(X_test)

In [66]:
test_model_score = accuracy_score(y_test,y_preds)
print(test_model_score)

0.9666666666666667