# Assignment

### Ans1)

In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({
    'studying_time': [10, 20, 30, 40, 50],
    'exam_scores': [60, 70, 80, 90, 100]
})
df

   studying_time  exam_scores
0             10           60
1             20           70
2             30           80
3             40           90
4             50          100

In [4]:
df.corr(method='pearson')

               studying_time  exam_scores
studying_time            1.0          1.0
exam_scores              1.0          1.0

### Ans2)

In [7]:
df = pd.DataFrame({
    'sleep': [6, 7, 8, 6, 5],
    'job_satisfaction': [7, 8, 6, 4, 9]
})
df

   sleep  job_satisfaction
0      6                 7
1      7                 8
2      8                 6
3      6                 4
4      5                 9

In [10]:
df['sleep'].corr(df['job_satisfaction'], method='spearman')

-0.4103913408340617

In [11]:
df.corr(method='spearman')

                     sleep  job_satisfaction
sleep             1.000000         -0.410391
job_satisfaction -0.410391          1.000000

### Ans3)

In [13]:
import numpy as np
import pandas as pd

num_of_rows = np.random.normal(5,2,50)
bmi = np.random.normal(25,2,50)

df = pd.DataFrame({
    'Number_of_hours':num_of_rows,
    'bmi': bmi
})
df.head()

   Number_of_hours        bmi
0         4.861747  26.337391
1         4.212355  23.108148
2         4.848975  21.777251
3         3.034033  24.482162
4         3.423369  24.010763

### Pearson Correlation

In [14]:
df.corr(method='pearson')

                 Number_of_hours       bmi
Number_of_hours         1.000000  0.201832
bmi                     0.201832  1.000000

### Spearman's Rank Correlation

In [15]:
df.corr(method='spearman')

                 Number_of_hours      bmi
Number_of_hours          1.00000  0.24946
bmi                      0.24946  1.00000

The Pearson correlation coefficient between 'Number_of_hours' and 'bmi' is likely to be close to 0 since there is no obvious linear relationship between the number of hours of exercise and BMI.

The Spearman's rank correlation coefficient between 'Number_of_hours' and 'bmi' is also likely to be close to 0 since there is no obvious monotonic relationship between the two variables.

### Ans4)

In [17]:
# Generate random data
num_of_hours = np.random.normal(4, 2, 50)
physical_activity = np.random.normal(60, 10, 50)

df= pd.DataFrame({
    'num_of_hours': num_of_hours,
    'physical_activity':physical_activity
})

df.head()

   num_of_hours  physical_activity
0      2.098911          55.302342
1      5.842504          47.883785
2      2.360262          63.917286
3      3.832199          49.095801
4     -0.159818          63.876503

### Pearson Correlation

In [18]:
df.corr(method='pearson')

                   num_of_hours  physical_activity
num_of_hours           1.000000           0.011624
physical_activity      0.011624           1.000000

### Ans5)

In [19]:
df = pd.DataFrame({
    "Age(Years)":[25,42,37,19,31,28],
    "Soft Drink Preference":['Coke','Pepsi','Mountain Dew','Coke','Pepsi','Coke']
})

df

   Age(Years) Soft Drink Preference
0          25                  Coke
1          42                 Pepsi
2          37          Mountain Dew
3          19                  Coke
4          31                 Pepsi
5          28                  Coke

In [21]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
encoded_col= encoder.fit_transform(df['Soft Drink Preference'])
df_encoded = pd.DataFrame(encoded_col, columns=['Soft Drink Preference Enc'])
df_new = pd.concat([df,df_encoded], axis=1)
df_new = df_new.drop('Soft Drink Preference', axis=1)
df_new

   Age(Years)  Soft Drink Preference Enc
0          25                          0
1          42                          2
2          37                          1
3          19                          0
4          31                          2
5          28                          0

### Pearson Correlation

In [23]:
df_new.corr(method='pearson')

                           Age(Years)  Soft Drink Preference Enc
Age(Years)                   1.000000                   0.769175
Soft Drink Preference Enc    0.769175                   1.000000

### Ans6)

In [25]:
# Define the number of sales calls made per day and the number of sales made per week for 30 sales representatives
sales_calls_per_day = [10, 12, 14, 15, 8, 6, 13, 11, 9, 7, 16, 18, 20, 21, 23, 25, 22, 19, 17, 24, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35]
sales_per_week = [8, 9, 10, 11, 7, 6, 9, 8, 7, 6, 12, 13, 15, 16, 17, 19, 16, 14, 12, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

df = pd.DataFrame({
    'num_of_calls': sales_calls_per_day,
    'sales_per_week': sales_per_week
})

df.head()

   num_of_calls  sales_per_week
0            10               8
1            12               9
2            14              10
3            15              11
4             8               7

In [26]:
df.corr(method='pearson')

                num_of_calls  sales_per_week
num_of_calls        1.000000        0.993731
sales_per_week      0.993731        1.000000