# Handling imbalance dataset

1. Up sampling
2. Down sampling

In [7]:
import numpy as np
import pandas as pd 

# Set the random seed for reproducibility
np.random.seed(123)

# Create dataframe with two classes
n_samples = 1000 
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [8]:
n_class_0,n_class_1

(900, 100)

In [10]:
## CREATE MY DATAFRAME WITH IMBALANCED DATASET

class_0=pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target':[0] * n_class_0

})

class_1=pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target':[1] * n_class_1
})

In [12]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [13]:
df.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [14]:
df.tail()

     feature_1  feature_2  target
995   1.376371   2.845701       1
996   2.239810   0.880077       1
997   1.131760   1.640703       1
998   2.902006   0.390305       1
999   2.697490   2.013570       1

In [15]:
df['target'].value_counts()

0    900
1    100
Name: target, dtype: int64

In [21]:
## Upsampling
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [24]:
from sklearn.utils import resample
df_minority_upsampled=resample(df_minority,replace=True, #Sample with replacement
         n_samples=len(df_majority),
         random_state=42
                              )

In [27]:
df_minority_upsampled.head()

     feature_1  feature_2  target
951   1.125854   1.843917       1
992   2.196570   1.397425       1
914   1.932170   2.998053       1
971   2.272825   3.034197       1
960   2.870056   1.550485       1

In [28]:
df_upsampled=pd.concat([df_majority,df_minority_upsampled])

In [34]:
df_upsampled['target'].value_counts()

0    900
1    900
Name: target, dtype: int64

## Down sampling

In [45]:
## CREATE MY DATAFRAME WITH IMBALANCED DATASET

class_0=pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target':[0] * n_class_0

})

class_1=pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target':[1] * n_class_1
})

In [46]:
## Downsampling
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [47]:
from sklearn.utils import resample
df_majority_downsampled=resample(df_majority,replace=False, #Sample with replacement
         n_samples=len(df_minority),
         random_state=42
                              )

In [51]:
df_majority_downsampled.shape

(100, 3)

In [53]:
df_downsampled=pd.concat([df_minority,df_majority_downsampled])

In [54]:
df_downsampled['target'].value_counts()

1    100
0    100
Name: target, dtype: int64